extends ../layouts/default

block content
	.container: .jumbotron
		h1#site-title Name Driven Development
		p#slogan Where the name is all that matters!
		h2#generator-title Random Project Name Generator
		form
		input#namebox(type='text')
		br
		input#generate-btn(type='button', value='Generate')
